/* suggestion-list */
.suggestion-list {
    margin-top: 60px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.suggestion-list .suggestion-item {
    background: var(--color-four);
    border-radius: 20px;
    margin-right: 20px;
    font-size: 14px;
    padding: 5px 20px;
}

@media (max-width: 640px) {
    .suggestion-list {
        width: 100%;
    }
    .suggestion-list .suggestion-item {
        font-size: 10px;
        margin-right: 10px;
        padding: 5px 10px;
    }
}

@media (max-width: 320px) {
    .suggestion-list {
        flex-wrap: wrap;
    }
    .suggestion-list .suggestion-item {
        width: 50%;
        margin-top: 10px;
    }
}
/*end suggestion-list */

/* container-one */
.container .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-one {
    justify-content: space-between;
    margin-top: 30px;
}
/*end container-one */

.container a h3:active {
    font-weight: 800;
}

.suggestion-list .suggestion-item a:active {
    font-weight: 800;
}

.audiobook {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.audiobook:hover {
    transform: scale(1.05);
}

.header-content ul li a {
    padding: 10px 15px; /* Add some padding */
    text-decoration: none; /* Remove underline */
    color: #333; /* Default text color */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.header-content ul li a:hover {
    background-color: #007BFF; /* Change background on hover */
    color: white; /* Change text color on hover */
    border-radius: 5px; /* Rounded corners */
}

