@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --color-one: #F9F2F5;
    --color-two: #FEFBFC;
    --color-three: #FAF3F6;
    --color-four: #EACCD3;

    --font: "Inter", serif
}   

body {
    font-family: var(--font);
    color: black;
    background: var(--color-one);
    height: 100%;
}

a {
    text-decoration: none;
    font-size: 12px;
}

.container  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container .box {
    width: 270px;
    position: relative;
}

h1 {
    font-size: 25px;
    text-align: center;
}

h3 {
    font-size: 12px;
    font-weight: 400;
}

input {
    margin-top: 10px;
    width: 250px;
    height: 35px;
    border-radius: 10px;
    padding: 0px 10px; 
    font-size: 14px;
}
.container .box div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.confirm {
    background: var(--color-four);
    margin-top: 20px;
    width: 270px;
}

.login {
    color: #A74C61;
}