/* section one */
.container-one {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    height: 100%;
    max-height: 630px;
}

/* sizebar-box */
.container-one .sidebar-box {
    width: 30%;
    background: var(--color-four);
    border-radius: 20px;
}

.container-one .sidebar-box .sidebar-header {
    display: flex;
    align-items: center;
    width: 92%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.container-one .sidebar-box .sidebar-header .author-image {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    overflow: hidden;
}

.container-one .sidebar-box .sidebar-header .author-image .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-one .sidebar-box .sidebar-header .book-information {
    margin-left: 10px;
}

.container-one .sidebar-box .sidebar-header .book-information h1 {
    margin-top: 15px;
    margin-bottom: 0px;
}

.container-one .sidebar-box .sidebar-header .book-information h3 {
    margin-top: 5px;
}

.container-one .sidebar-box .sidebar-header i {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 20px;
    font-size: 25px;
}

/* bật tắt bookmark */
#bookmark-toggle {
    display: none;
}

.bookmark-btn {
    cursor: pointer;
    color: black;
    font-size: 28px;
    transition: background-color 0.3s ease;
}

.bookmark-off {
    display: block;
}

.bookmark-on {
    display: none;
}

#bookmark-toggle:checked + .bookmark-btn .bookmark-off {
    display: none;
}

#bookmark-toggle:checked + .bookmark-btn .bookmark-on {
    display: block;
}
/* end bật tắt bookmark */

.container-one .sidebar-box .book-image {
    width: 280px;
    height: 410px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 50px;
}

.container-one .sidebar-box .book-image .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-one .sidebar-box .progress-bar {
    width: 80%;
    height: 4px;
    border-radius: 20px;
    background: black;
    margin-left: auto;
    margin-right: auto;
}

.container-one .sidebar-box .sidebar-content {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

.container-one .sidebar-box .sidebar-content .play-pause {
    width: 30%;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.container-one .sidebar-box .sidebar-content .play-pause i {
    font-size: 30px;
}

/* play-pause */
#play-pause-toggle {
    display: none;
}

.play-pause-btn {
    cursor: pointer;
    color: black;
    font-size: 28px;
    transition: background-color 0.3s ease;
}

.play-item {
    display: block;
}

.pause-item {
    display: none;
}

#play-pause-toggle:checked + .play-pause-btn .play-item {
    display: none;
}

#play-pause-toggle:checked + .play-pause-btn .pause-item {
    display: block;
}

@media (max-width: 1200px){
    .container-one {
        height: 610px;
    }
    .container-one .sidebar-box {
        width: 37%;
    }
    .container-one .sidebar-box .sidebar-header .author-image {
        width: 35px;
        height: 35px;
    }
    .container-one .sidebar-box .sidebar-header .book-information h1{
        margin-top: 12px;
        font-size: 18px;
    }
    .container-one .sidebar-box .book-image {
        margin-bottom: 30px;
    }
    .container-one .sidebar-box .sidebar-content .play-pause {
        width: 40%;
    }
}

@media (max-width: 1028px){
    .container-one {
        height: 550px;
    }
    .container-one .sidebar-box .sidebar-header .author-image {
        width: 33px;
        height: 33px;
    }
    .container-one .sidebar-box .sidebar-header .book-information h1{
        font-size: 16px;
    }
    .container-one .sidebar-box .sidebar-content .play-pause i {
        font-size: 27px;
    }
    .container-one .sidebar-box .book-image {
        width: 250px;
        height: 350px;
    }
}

@media (max-width: 830px){
    .container-one {
        height: 430px;
    }
    .container-one .sidebar-box .sidebar-header i {
        font-size: 20px;
    }
    .container-one .sidebar-box .book-image {
        width: 170px;
        height: 250px;
    }
    .container-one .sidebar-box .progress-bar {
        height: 2px;
    }
    .container-one .sidebar-box .sidebar-content {
        margin-top: 15px;
    }
    .container-one .sidebar-box .sidebar-content .play-pause i {
        font-size: 22px;
    }
    .container-one .sidebar-box .sidebar-content h3 {
        font-size: 11px;
    }
}

@media (max-width: 640px){
    .container-one {
        flex-wrap: wrap;
    }
    .container-one .sidebar-box {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .container-one .sidebar-box .book-image {
        width: 200px;
        height: 280px;
    }
    .container-one .sidebar-box .sidebar-content .play-pause i {
        font-size: 25px;
    }
}

@media (max-width: 320px) {
    .container-one .sidebar-box {
        width: 100%;
    }
}
/*end play-pause */
/*end sizebar-box */

.container-one .description-box {
    width: 65%;
    height: 630px;
    overflow: auto;
}

.container-one .description-box p{
    width: 100%;
    font-size: 13px;
    text-indent: 30px;
}

.container-one .description-box .main-content {
    margin-bottom: 40px;
    
}

@media (max-width: 1200px){
    .container-one .description-box {
        width: 58%;
        height: 610px;
    }
}

@media (max-width: 1028px) {
    .container-one .description-box {
        height: 550px;  
    }
}

@media (max-width: 830px) {
    .container-one .description-box {
        height: 430px;  
    }
    .container-one .description-box h1 {
        font-size: 18px;
    }
}

@media (max-width: 640px) {
    .container-one .description-box {
        width: 100%;
        height: 100%;
        margin-top: 20px;
    }
}



/* end section one */

/* section two */
.container-two .suggestion-title {
    margin-top: 50px;
}

@media (max-width: 830px) {
    .container-two .suggestion-title {
        font-size: 18px;
        margin-top: 30px;
    }
}

@media (max-width: 640px){
    .container-two .suggestion-title {
        margin-top: 550px;
    }
}
/* end section two */