/* navbar */

.main {
    display: flex;
    margin-top: 55px;
}

.NavBar {
    position: fixed;
    background: var(--color-one);
    width: 210px;
    height: 100vh;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.NavBar .account-image {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    overflow: hidden;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.NavBar .account-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

h3 {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 5px;
    word-wrap: break-word;
}

.NavBar ul{
    margin-top: 50px;
    margin-left: 15px;
    padding: 0; 
    list-style-type: none;
}

.NavBar ul li {
    margin-bottom: 15px;
    font-size: 17px;
    font-weight: 450;
}

.NavBar ul li .page-title {
    font-weight: 800;
}

@media (max-width: 750px){
    .NavBar {
        width: 160px;
    }

    .NavBar ul li {
        font-size: 16px;
    }
}
@media (max-width: 560px){
    .NavBar {
        display: none;
    }
}
/* end navbar */

/* container-one */
.container-one {
    margin-left: 300px;
    
}

.container-one .content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container-one .content a {
    width: 165px;
    background: var(--color-three);
    border-radius: 10px;
    margin-top: 40px;
    margin-right: 50px;
}

.container-one .content .book-items .book-image {
    width: 120px;
    height: 175px;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;     
}

.container-one .content .book-items .book-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-one .content .book-items h2{
    margin-left: 20px;
    margin-bottom: 0px;
}

.container-one .content .book-items h3 {
    margin-left: 20px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 15px;
}

@media (max-width: 750px){
    .container-one {
        margin-left: 200px;
    }
    .container-one .content a {
        width: 120px;
    }
    .container-one .content .book-items .book-image {
        width: 80px;
        height: 100px;
    }
    .container-one .content .book-items h2 {
        margin-left: 10px;
    }
    .container-one .content .book-items h3 {
        margin-left: 10px;
        font-size: 11px;
    }
}

@media (max-width: 560px) {
    .container-one {
        margin-left: 20px; 
    }  
    .container-one .content a {
        margin-right: 30px;
    }  
}

@media (max-width: 340px) {
    .container-one .content a {
        width: 100px;
        margin-right: 20px;
    }
    .container-one .content .book-items .book-image {
        margin-top: 8px;
    }
    .container-one .content .book-items h2 {
            margin-top: 5px;
    }
    .container-one .content .book-items h3 {
        font-size: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
/* end container-one */