<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/base.css">
    <link rel="stylesheet" href="assets/css/styles_author.css">
</head>
<body>
    <!-- header -->
    <header class="header">
        <div class="search-container">
            <input type="text" placeholder="Tìm kiếm" class="search-input">
            <button class="search-button">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>

        <div class="header-content">
            <ul>
                <li>
                    <a href="index.html">
                        Trang chủ
                    </a>
                </li>
                <li>
                    <a href="discover.html">
                        Khám phá
                    </a>
                </li>
                <li class="title-page">
                    <a href="author.html">
                        Tác giả
                    </a>
                </li>
                <li>
                    <a href="category.html">
                        Thể loại
                    </a>
                </li>
            </ul>
        </div>

        <div class="personal-account">
            <img src="assets/images/Flag_of_Vietnam.svg.webp" alt="personal image" class="image">
        </div>
    </header>
    <!-- end header -->

    <!-- suggestion -->
    <div class="container suggestion-list">
        <div class="suggestion-item">
            <a href="#">
                Nguyễn Nhật Ánh
            </a>
        </div>
        <div class="suggestion-item">
            <a href="#">
                Nam Cao
            </a>
        </div>
        <div class="suggestion-item">
            <a href="#">
                Rosie Nguyễn
            </a>
        </div>
        <div class="suggestion-item">
            <a href="#">
                Peter Lynch
            </a>
        </div>
     </div>
    <!-- end suggestion -->

    <!-- section-one -->
    <div class="container container-one">
        <div class="title">
            <h1>Lê Tất Điều</h1>
            <a href="#">
                <h3>Xem thêm</h3>
            </a>
        </div>
        <div class="audiobook-list">
            <div class="audiobook audiobook-item">
                <a href="#">
                    <div class="main discover-item-main">
                        <div class="book-image">
                            <img src="assets/images/sach-1521858607292758740290.webp" alt="Sach" class="image">
                        </div>
                        <div class="book-information">
                            <h2 class="book-title">Tuổi trẻ đáng giá bao nhiêu</h2>
                            <h3 class="author">Rosie Nguyễn</h3>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </a>
                <div class="sidebar discover-item-sidebar">
                    <div class="book-time">
                        <i class="fa-regular fa-clock"></i>
                        <span class="time">2 giờ, 07 phút</span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                </div>
            </div>
            <div class="audiobook audiobook-item">
                <a href="#">
                    <div class="main discover-item-main">
                        <div class="book-image">
                            <img src="assets/images/nha-gia-kim-01.jpg" alt="Sach" class="image">
                        </div>
                        <div class="book-information">
                            <h2 class="book-title">Nhà giả kim</h2>
                            <h3 class="author">Paulo Coelho</h3>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </a>
                <div class="sidebar discover-item-sidebar">
                    <div class="book-time">
                        <i class="fa-regular fa-clock"></i>
                        <span class="time">2 giờ, 07 phút</span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                </div>
            </div>
            <div class="audiobook audiobook-item">
                <a href="#">
                    <div class="main discover-item-main">
                        <div class="book-image">
                            <img src="assets/images/tren-dinh-pho-wall-outline-1-2-2018-02.webp" alt="Sach" class="image">
                        </div>
                        <div class="book-information">
                            <h2 class="book-title">Trên đỉnh phố Wall</h2>
                            <h3 class="author">Peter Lynch</h3>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </a>
                <div class="sidebar discover-item-sidebar">
                    <div class="book-time">
                        <i class="fa-regular fa-clock"></i>
                        <span class="time">2 giờ, 07 phút</span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                </div>
            </div>
            <div class="audiobook audiobook-item">
                <a href="#">
                    <div class="main discover-item-main">
                        <div class="book-image">
                            <img src="assets/images/dai_viet_su_ki_toan_thu.jpg" alt="Sach" class="image">
                        </div>
                        <div class="book-information">
                            <h2 class="book-title">Đại Việt sử kí toàn thư</h2>
                            <h3 class="author">Nhiều tác giả</h3>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </a>
                <div class="sidebar discover-item-sidebar">
                    <div class="book-time"> 
                        <i class="fa-regular fa-clock"></i>
                        <span class="time">2 giờ, 07 phút</span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section-one -->

    <!-- section-two-->
    <div class="container container-two">
        <div class="title">
            <h1>Tony Buổi Sáng</h1>
            <a href="#">
                <h3>Xem thêm</h3>
            </a>
        </div>
        <div class="audiobook-list">
            <div class="audiobook audiobook-item">
                <a href="#">
                    <div class="main discover-item-main">
                        <div class="book-image">
                            <img src="assets/images/sach-1521858607292758740290.webp" alt="Sach" class="image">
                        </div>
                        <div class="book-information">
                            <h2 class="book-title">Tuổi trẻ đáng giá bao nhiêu</h2>
                            <h3 class="author">Rosie Nguyễn</h3>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </a>
                <div class="sidebar discover-item-sidebar">
                    <div class="book-time">
                        <i class="fa-regular fa-clock"></i>
                        <span class="time">2 giờ, 07 phút</span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                </div>
            </div>
            <div class="audiobook audiobook-item">
                <a href="#">
                    <div class="main discover-item-main">
                        <div class="book-image">
                            <img src="assets/images/nha-gia-kim-01.jpg" alt="Sach" class="image">
                        </div>
                        <div class="book-information">
                            <h2 class="book-title">Nhà giả kim</h2>
                            <h3 class="author">Paulo Coelho</h3>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </a>
                <div class="sidebar discover-item-sidebar">
                    <div class="book-time">
                        <i class="fa-regular fa-clock"></i>
                        <span class="time">2 giờ, 07 phút</span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                </div>
            </div>
            <div class="audiobook audiobook-item">
                <a href="#">
                    <div class="main discover-item-main">
                        <div class="book-image">
                            <img src="assets/images/tren-dinh-pho-wall-outline-1-2-2018-02.webp" alt="Sach" class="image">
                        </div>
                        <div class="book-information">
                            <h2 class="book-title">Trên đỉnh phố Wall</h2>
                            <h3 class="author">Peter Lynch</h3>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </a>
                <div class="sidebar discover-item-sidebar">
                    <div class="book-time">
                        <i class="fa-regular fa-clock"></i>
                        <span class="time">2 giờ, 07 phút</span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                </div>
            </div>
            <div class="audiobook audiobook-item">
                <a href="#">
                    <div class="main discover-item-main">
                        <div class="book-image">
                            <img src="assets/images/dai_viet_su_ki_toan_thu.jpg" alt="Sach" class="image">
                        </div>
                        <div class="book-information">
                            <h2 class="book-title">Đại Việt sử kí toàn thư</h2>
                            <h3 class="author">Nhiều tác giả</h3>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </a>
                <div class="sidebar discover-item-sidebar">
                    <div class="book-time"> 
                        <i class="fa-regular fa-clock"></i>
                        <span class="time">2 giờ, 07 phút</span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section-two-->

    <!-- section-three-->
    <div class="container container-three">
        <div class="title">
            <h1>Isaac Asimov</h1>
            <a href="#">
                <h3>Xem thêm</h3>
            </a>
        </div>
        <div class="audiobook-list">
            <div class="audiobook audiobook-item">
                <a href="#">
                    <div class="main discover-item-main">
                        <div class="book-image">
                            <img src="assets/images/sach-1521858607292758740290.webp" alt="Sach" class="image">
                        </div>
                        <div class="book-information">
                            <h2 class="book-title">Tuổi trẻ đáng giá bao nhiêu</h2>
                            <h3 class="author">Rosie Nguyễn</h3>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </a>
                <div class="sidebar discover-item-sidebar">
                    <div class="book-time">
                        <i class="fa-regular fa-clock"></i>
                        <span class="time">2 giờ, 07 phút</span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                </div>
            </div>
            <div class="audiobook audiobook-item">
                <a href="#">
                    <div class="main discover-item-main">
                        <div class="book-image">
                            <img src="assets/images/nha-gia-kim-01.jpg" alt="Sach" class="image">
                        </div>
                        <div class="book-information">
                            <h2 class="book-title">Nhà giả kim</h2>
                            <h3 class="author">Paulo Coelho</h3>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </a>
                <div class="sidebar discover-item-sidebar">
                    <div class="book-time">
                        <i class="fa-regular fa-clock"></i>
                        <span class="time">2 giờ, 07 phút</span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                </div>
            </div>
            <div class="audiobook audiobook-item">
                <a href="#">
                    <div class="main discover-item-main">
                        <div class="book-image">
                            <img src="assets/images/tren-dinh-pho-wall-outline-1-2-2018-02.webp" alt="Sach" class="image">
                        </div>
                        <div class="book-information">
                            <h2 class="book-title">Trên đỉnh phố Wall</h2>
                            <h3 class="author">Peter Lynch</h3>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </a>
                <div class="sidebar discover-item-sidebar">
                    <div class="book-time">
                        <i class="fa-regular fa-clock"></i>
                        <span class="time">2 giờ, 07 phút</span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                </div>
            </div>
            <div class="audiobook audiobook-item">
                <a href="#">
                    <div class="main discover-item-main">
                        <div class="book-image">
                            <img src="assets/images/dai_viet_su_ki_toan_thu.jpg" alt="Sach" class="image">
                        </div>
                        <div class="book-information">
                            <h2 class="book-title">Đại Việt sử kí toàn thư</h2>
                            <h3 class="author">Nhiều tác giả</h3>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </a>
                <div class="sidebar discover-item-sidebar">
                    <div class="book-time"> 
                        <i class="fa-regular fa-clock"></i>
                        <span class="time">2 giờ, 07 phút</span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section-three-->

    <!-- section-four-->
    <div class="container container-four">
        <div class="title">
            <h1>Albert Camus</h1>
            <a href="#">
                <h3>Xem thêm</h3>
            </a>
        </div>
        <div class="audiobook-list">
            <div class="audiobook audiobook-item">
                <a href="#">
                    <div class="main discover-item-main">
                        <div class="book-image">
                            <img src="assets/images/sach-1521858607292758740290.webp" alt="Sach" class="image">
                        </div>
                        <div class="book-information">
                            <h2 class="book-title">Tuổi trẻ đáng giá bao nhiêu</h2>
                            <h3 class="author">Rosie Nguyễn</h3>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </a>
                <div class="sidebar discover-item-sidebar">
                    <div class="book-time">
                        <i class="fa-regular fa-clock"></i>
                        <span class="time">2 giờ, 07 phút</span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                </div>
            </div>
            <div class="audiobook audiobook-item">
                <a href="#">
                    <div class="main discover-item-main">
                        <div class="book-image">
                            <img src="assets/images/nha-gia-kim-01.jpg" alt="Sach" class="image">
                        </div>
                        <div class="book-information">
                            <h2 class="book-title">Nhà giả kim</h2>
                            <h3 class="author">Paulo Coelho</h3>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </a>
                <div class="sidebar discover-item-sidebar">
                    <div class="book-time">
                        <i class="fa-regular fa-clock"></i>
                        <span class="time">2 giờ, 07 phút</span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                </div>
            </div>
            <div class="audiobook audiobook-item">
                <a href="#">
                    <div class="main discover-item-main">
                        <div class="book-image">
                            <img src="assets/images/tren-dinh-pho-wall-outline-1-2-2018-02.webp" alt="Sach" class="image">
                        </div>
                        <div class="book-information">
                            <h2 class="book-title">Trên đỉnh phố Wall</h2>
                            <h3 class="author">Peter Lynch</h3>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </a>
                <div class="sidebar discover-item-sidebar">
                    <div class="book-time">
                        <i class="fa-regular fa-clock"></i>
                        <span class="time">2 giờ, 07 phút</span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                </div>
            </div>
            <div class="audiobook audiobook-item">
                <a href="#">
                    <div class="main discover-item-main">
                        <div class="book-image">
                            <img src="assets/images/dai_viet_su_ki_toan_thu.jpg" alt="Sach" class="image">
                        </div>
                        <div class="book-information">
                            <h2 class="book-title">Đại Việt sử kí toàn thư</h2>
                            <h3 class="author">Nhiều tác giả</h3>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </a>
                <div class="sidebar discover-item-sidebar">
                    <div class="book-time"> 
                        <i class="fa-regular fa-clock"></i>
                        <span class="time">2 giờ, 07 phút</span>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section-four-->
</body>
</html>