{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'assets/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/each_book_genre.css' %}">
</head>
<body>
    <!-- header -->
    <header class="header">
        <div class="search-container">
            <input type="text" placeholder="Tìm kiếm" class="search-input">
            <button class="search-button">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>

        <div class="header-content">
            <ul>
                <li>
                    <a href="index.html">
                        Trang chủ
                    </a>
                </li>
                <li>
                    <a href="discover.html">
                        Khám phá
                    </a>
                </li>
                <li>
                    <a href="author.html">
                        Tác giả
                    </a>
                </li>
                <li>
                    <a href="category.html">
                        Thể loại
                    </a>
                </li>
            </ul>
        </div>

        <a href="{% url 'account' %}">
            <div class="personal-account">
                <img src="{% static 'assets/images/Flag_of_Vietnam.svg.webp' %}" alt="personal image" class="image">
            </div>
        </a> 
    </header>
    <!-- end header -->

    <div class="container title">
        <h1>
            Sách kĩ năng sống
        </h1>
    </div>

    <!-- description -->
    <div class="container description-genre">
        <p>
            "Sách kỹ năng sống" là thuật ngữ dùng để mô tả các tác phẩm văn hóa, sách, hoặc tài liệu chuyên sâu nhằm giúp người đọc phát triển và cải thiện những kỹ năng cần thiết để sống một cuộc sống tích cực và thành công. Các kỹ năng sống có thể bao gồm nhiều khía cạnh khác nhau như kỹ năng giao tiếp, quản lý thời gian, quyết định, giải quyết vấn đề, tư duy sáng tạo, lòng tin vào bản thân, và nhiều khía cạnh khác liên quan đến sự phát triển cá nhân và xã hội.
        </p>
        <p>
            Những cuốn sách về kỹ năng sống thường cung cấp kiến thức, chiến lược, và bài học thực tế để độc giả áp dụng vào cuộc sống hàng ngày của họ. Các tác phẩm này thường đưa ra góc nhìn sâu sắc về cách nhìn nhận vấn đề, đưa ra giải pháp, và cung cấp hướng dẫn cụ thể để phát triển những kỹ năng quan trọng.
            Các sách kỹ năng sống có thể phát triển từ nhiều lĩnh vực khác nhau như tâm lý học, quản lý, phát triển cá nhân, và nhiều lĩnh vực khác để hỗ trợ người đọc xây dựng nền tảng mạnh mẽ cho sự thành công và hạnh phúc trong cuộc sống.
        </p>
    </div>
    <!-- end description -->

    <!-- section-one -->
    <div class="container audiobook-list">
        <div class="audiobook audiobook-item">
            <a href="#">
                <div class="main each-book-genre-item-main">
                    <div class="book-image">
                        <img src="{% static 'assets/images/sach-1521858607292758740290.webp' %}" alt="Sach" class="image">
                    </div>
                    <div class="book-information">
                        <h2 class="book-title">Tuổi trẻ đáng giá bao nhiêu</h2>
                        <h3 class="author">Rosie Nguyễn</h3>
                    </div>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </a>
            <div class="sidebar each-book-genre-item-sidebar">
                <div class="book-time">
                    <i class="fa-regular fa-clock"></i>
                    <span class="time">2 giờ, 07 phút</span>
                </div>
                <div class="icon">
                    <i class="fa-solid fa-circle-play"></i>
                </div>
            </div>
        </div>
        <div class="audiobook audiobook-item">
            <a href="#">
                <div class="main each-book-genre-item-main">
                    <div class="book-image">
                        <img src="{% static 'assets/images/sach-1521858607292758740290.webp' %}" alt="Sach" class="image">
                    </div>
                    <div class="book-information">
                        <h2 class="book-title">Tuổi trẻ đáng giá bao nhiêu</h2>
                        <h3 class="author">Rosie Nguyễn</h3>
                    </div>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </a>
            <div class="sidebar each-book-genre-item-sidebar">
                <div class="book-time">
                    <i class="fa-regular fa-clock"></i>
                    <span class="time">2 giờ, 07 phút</span>
                </div>
                <div class="icon">
                    <i class="fa-solid fa-circle-play"></i>
                </div>
            </div>
        </div>
        <div class="audiobook audiobook-item">
            <a href="#">
                <div class="main each-book-genre-item-main">
                    <div class="book-image">
                        <img src="{% static 'assets/images/sach-1521858607292758740290.webp' %}" alt="Sach" class="image">
                    </div>
                    <div class="book-information">
                        <h2 class="book-title">Tuổi trẻ đáng giá bao nhiêu</h2>
                        <h3 class="author">Rosie Nguyễn</h3>
                    </div>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </a>
            <div class="sidebar each-book-genre-item-sidebar">
                <div class="book-time">
                    <i class="fa-regular fa-clock"></i>
                    <span class="time">2 giờ, 07 phút</span>
                </div>
                <div class="icon">
                    <i class="fa-solid fa-circle-play"></i>
                </div>
            </div>
        </div>
        <div class="audiobook audiobook-item">
            <a href="#">
                <div class="main each-book-genre-item-main">
                    <div class="book-image">
                        <img src="{% static 'assets/images/sach-1521858607292758740290.webp' %}" alt="Sach" class="image">
                    </div>
                    <div class="book-information">
                        <h2 class="book-title">Tuổi trẻ đáng giá bao nhiêu</h2>
                        <h3 class="author">Rosie Nguyễn</h3>
                    </div>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </a>
            <div class="sidebar each-book-genre-item-sidebar">
                <div class="book-time">
                    <i class="fa-regular fa-clock"></i>
                    <span class="time">2 giờ, 07 phút</span>
                </div>
                <div class="icon">
                    <i class="fa-solid fa-circle-play"></i>
                </div>
            </div>
        </div>
     </div>
    <!-- end section-one -->

    <!-- section-two -->
    <div class="container audiobook-list">
        <div class="audiobook audiobook-item">
            <a href="#">
                <div class="main each-book-genre-item-main">
                    <div class="book-image">
                        <img src="{% static 'assets/images/sach-1521858607292758740290.webp' %}" alt="Sach" class="image">
                    </div>
                    <div class="book-information">
                        <h2 class="book-title">Tuổi trẻ đáng giá bao nhiêu</h2>
                        <h3 class="author">Rosie Nguyễn</h3>
                    </div>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </a>
            <div class="sidebar each-book-genre-item-sidebar">
                <div class="book-time">
                    <i class="fa-regular fa-clock"></i>
                    <span class="time">2 giờ, 07 phút</span>
                </div>
                <div class="icon">
                    <i class="fa-solid fa-circle-play"></i>
                </div>
            </div>
        </div>
        <div class="audiobook audiobook-item">
            <a href="#">
                <div class="main each-book-genre-item-main">
                    <div class="book-image">
                        <img src="{% static 'assets/images/sach-1521858607292758740290.webp' %}" alt="Sach" class="image">
                    </div>
                    <div class="book-information">
                        <h2 class="book-title">Tuổi trẻ đáng giá bao nhiêu</h2>
                        <h3 class="author">Rosie Nguyễn</h3>
                    </div>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </a>
            <div class="sidebar each-book-genre-item-sidebar">
                <div class="book-time">
                    <i class="fa-regular fa-clock"></i>
                    <span class="time">2 giờ, 07 phút</span>
                </div>
                <div class="icon">
                    <i class="fa-solid fa-circle-play"></i>
                </div>
            </div>
        </div>
        <div class="audiobook audiobook-item">
            <a href="#">
                <div class="main each-book-genre-item-main">
                    <div class="book-image">
                        <img src="{% static 'assets/images/sach-1521858607292758740290.webp' %}" alt="Sach" class="image">
                    </div>
                    <div class="book-information">
                        <h2 class="book-title">Tuổi trẻ đáng giá bao nhiêu</h2>
                        <h3 class="author">Rosie Nguyễn</h3>
                    </div>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </a>
            <div class="sidebar each-book-genre-item-sidebar">
                <div class="book-time">
                    <i class="fa-regular fa-clock"></i>
                    <span class="time">2 giờ, 07 phút</span>
                </div>
                <div class="icon">
                    <i class="fa-solid fa-circle-play"></i>
                </div>
            </div>
        </div>
        <div class="audiobook audiobook-item">
            <a href="#">
                <div class="main each-book-genre-item-main">
                    <div class="book-image">
                        <img src="{% static 'assets/images/sach-1521858607292758740290.webp' %}" alt="Sach" class="image">
                    </div>
                    <div class="book-information">
                        <h2 class="book-title">Tuổi trẻ đáng giá bao nhiêu</h2>
                        <h3 class="author">Rosie Nguyễn</h3>
                    </div>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </a>
            <div class="sidebar each-book-genre-item-sidebar">
                <div class="book-time">
                    <i class="fa-regular fa-clock"></i>
                    <span class="time">2 giờ, 07 phút</span>
                </div>
                <div class="icon">
                    <i class="fa-solid fa-circle-play"></i>
                </div>
            </div>
        </div>
     </div>
    <!-- end section-two -->

    <!-- section-three -->
    <div class="container audiobook-list">
        <div class="audiobook audiobook-item">
            <a href="#">
                <div class="main each-book-genre-item-main">
                    <div class="book-image">
                        <img src="{% static 'assets/images/sach-1521858607292758740290.webp' %}" alt="Sach" class="image">
                    </div>
                    <div class="book-information">
                        <h2 class="book-title">Tuổi trẻ đáng giá bao nhiêu</h2>
                        <h3 class="author">Rosie Nguyễn</h3>
                    </div>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </a>
            <div class="sidebar each-book-genre-item-sidebar">
                <div class="book-time">
                    <i class="fa-regular fa-clock"></i>
                    <span class="time">2 giờ, 07 phút</span>
                </div>
                <div class="icon">
                    <i class="fa-solid fa-circle-play"></i>
                </div>
            </div>
        </div>
        <div class="audiobook audiobook-item">
            <a href="#">
                <div class="main each-book-genre-item-main">
                    <div class="book-image">
                        <img src="{% static 'assets/images/sach-1521858607292758740290.webp' %}" alt="Sach" class="image">
                    </div>
                    <div class="book-information">
                        <h2 class="book-title">Tuổi trẻ đáng giá bao nhiêu</h2>
                        <h3 class="author">Rosie Nguyễn</h3>
                    </div>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </a>
            <div class="sidebar each-book-genre-item-sidebar">
                <div class="book-time">
                    <i class="fa-regular fa-clock"></i>
                    <span class="time">2 giờ, 07 phút</span>
                </div>
                <div class="icon">
                    <i class="fa-solid fa-circle-play"></i>
                </div>
            </div>
        </div>
        <div class="audiobook audiobook-item">
            <a href="#">
                <div class="main each-book-genre-item-main">
                    <div class="book-image">
                        <img src="{% static 'assets/images/sach-1521858607292758740290.webp' %}" alt="Sach" class="image">
                    </div>
                    <div class="book-information">
                        <h2 class="book-title">Tuổi trẻ đáng giá bao nhiêu</h2>
                        <h3 class="author">Rosie Nguyễn</h3>
                    </div>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </a>
            <div class="sidebar each-book-genre-item-sidebar">
                <div class="book-time">
                    <i class="fa-regular fa-clock"></i>
                    <span class="time">2 giờ, 07 phút</span>
                </div>
                <div class="icon">
                    <i class="fa-solid fa-circle-play"></i>
                </div>
            </div>
        </div>
        <div class="audiobook audiobook-item">
            <a href="#">
                <div class="main each-book-genre-item-main">
                    <div class="book-image">
                        <img src="{% static 'assets/images/sach-1521858607292758740290.webp' %}" alt="Sach" class="image">
                    </div>
                    <div class="book-information">
                        <h2 class="book-title">Tuổi trẻ đáng giá bao nhiêu</h2>
                        <h3 class="author">Rosie Nguyễn</h3>
                    </div>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </a>
            <div class="sidebar each-book-genre-item-sidebar">
                <div class="book-time">
                    <i class="fa-regular fa-clock"></i>
                    <span class="time">2 giờ, 07 phút</span>
                </div>
                <div class="icon">
                    <i class="fa-solid fa-circle-play"></i>
                </div>
            </div>
        </div>
     </div>
    <!-- end section-three -->
</body>
</html>