{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'assets/css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/styles_book_history.css' %}"/>
</head>
<body>
    <!-- header -->
    <header class="header">
        <div class="search-container">
            <input type="text" placeholder="Tìm kiếm" class="search-input">
            <button class="search-button">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>

        <div class="header-content">
            <ul>
                
                <li class="title-page"><a href="{% url 'home' %}">Trang chủ</a></li>
                <li><a href="{% url 'discover' %}">Khám phá</a></li>
                <li><a href="{% url 'author' %}">Tác giả</a></li>
                <li><a href="{% url 'category' %}">Thể loại</a></li>
                <li><a href="{% url 'login' %}">Đăng nhập</a></li>
                <li><a href="{% url 'signup' %}">Đăng ký</a></li>
    <ul>
        {% for entry in entries %}
            <li>
                {{ entry.title }} - <a href="{% url 'convert_text_to_speech' entry.id %}">Tải xuống</a>
            </li>
        {% endfor %}
    </ul>
                  
                
                {% comment %} <li >
                    <a href="index.html">
                        Trang chủ
                    </a>
                </li>
                <li>
                    <a href="discover.html">
                        Khám phá
                    </a>
                </li>
                <li>
                    <a href="author.html">
                        Tác giả
                    </a>
                </li>
                <li>
                    <a href="category.html">
                        Thể loại
                    </a>
                </li> {% endcomment %}
            </ul>
        </div>

        <div class="personal-account">
            <img src="{% static 'assets/images/Flag_of_Vietnam.svg.webp' %}" alt="personal image" class="image">
        </div>
    </header>
    <!-- end header -->

    <div class="main">
        <div class="NavBar">
            <div class="account-image">
                <img src="{% static 'assets/images/Flag_of_Vietnam.svg.webp' %}" alt="Anh dai dien">
            </div>
            <h3>VuDuyen</h3>
            <h3>vuthuduyen.2010@gmail.com</h3>
            <ul>
                <li>
                    <a href="{% url 'book_history' %}" >
                            Sách đã đọc
                    </a>
                </li>
                <li>
                    <a href="{% url 'favorite_books' %}" class="page-title">
                            Sách yêu thích
                    </a>
                </li>
                <li>
                    <a href="{% url 'saved_book' %}">
                            Sách đã lưu
                    </a>
                </li>
            </ul>
        </div>
        <div class="container-one">
            <div class="content">
                <a href="#">
                    <div class="book-items">
                        <div class="book-image">
                            <img src="{% static 'assets/images/yeu_nhung_dieu_khong_hoan_hao_1_2018_09_12_11_14_40 (1).webp' %}" alr="sach">
                        </div>
                        <h2>Yêu những điều không hoàn hảo</h2>
                        <h3>Hae Min</h3>
                    </div>
                </a>
                <a href="#">
                    <div class="book-items">
                        <div class="book-image">
                            <img src="{% static 'assets/images/yeu_nhung_dieu_khong_hoan_hao_1_2018_09_12_11_14_40 (1).webp' %}" alr="sach">
                        </div>
                        <h2>Yêu những điều không hoàn hảo</h2>
                        <h3>Hae Min</h3>
                    </div>
                </a>
                <a href="#">
                    <div class="book-items">
                        <div class="book-image">
                            <img src="{% static 'assets/images/yeu_nhung_dieu_khong_hoan_hao_1_2018_09_12_11_14_40 (1).webp' %}" alr="sach">
                        </div>
                        <h2>Yêu những điều không hoàn hảo</h2>
                        <h3>Hae Min</h3>
                    </div>
                </a>
                <a href="#">
                    <div class="book-items">
                        <div class="book-image">
                            <img src="{% static 'assets/images/yeu_nhung_dieu_khong_hoan_hao_1_2018_09_12_11_14_40 (1).webp' %}" alr="sach">
                        </div>
                        <h2>Yêu những điều không hoàn hảo</h2>
                        <h3>Hae Min</h3>
                    </div>
                </a>
                <a href="#">
                    <div class="book-items">
                        <div class="book-image">
                            <img src="{% static 'assets/images/yeu_nhung_dieu_khong_hoan_hao_1_2018_09_12_11_14_40 (1).webp' %}" alr="sach">
                        </div>
                        <h2>Yêu những điều không hoàn hảo</h2>
                        <h3>Hae Min</h3>
                    </div>
                </a>
                <a href="#">
                    <div class="book-items">
                        <div class="book-image">
                            <img src="{% static 'assets/images/yeu_nhung_dieu_khong_hoan_hao_1_2018_09_12_11_14_40 (1).webp' %}" alr="sach">
                        </div>
                        <h2>Yêu những điều không hoàn hảo</h2>
                        <h3>Hae Min</h3>
                    </div>
                </a>
                <a href="#">
                    <div class="book-items">
                        <div class="book-image">
                            <img src="{% static 'assets/images/yeu_nhung_dieu_khong_hoan_hao_1_2018_09_12_11_14_40 (1).webp' %}" alr="sach">
                        </div>
                        <h2>Yêu những điều không hoàn hảo</h2>
                        <h3>Hae Min</h3>
                    </div>
                </a>
                <a href="#">
                    <div class="book-items">
                        <div class="book-image">
                            <img src="{% static 'assets/images/yeu_nhung_dieu_khong_hoan_hao_1_2018_09_12_11_14_40 (1).webp' %}" alr="sach">
                        </div>
                        <h2>Yêu những điều không hoàn hảo</h2>
                        <h3>Hae Min</h3>
                    </div>
                </a>
                <a href="#">
                    <div class="book-items">
                        <div class="book-image">
                            <img src="{% static 'assets/images/yeu_nhung_dieu_khong_hoan_hao_1_2018_09_12_11_14_40 (1).webp' %}" alr="sach">
                        </div>
                        <h2>Yêu những điều không hoàn hảo</h2>
                        <h3>Hae Min</h3>
                    </div>
                </a>
                <a href="#">
                    <div class="book-items">
                        <div class="book-image">
                            <img src="{% static 'assets/images/yeu_nhung_dieu_khong_hoan_hao_1_2018_09_12_11_14_40 (1).webp' %}" alr="sach">
                        </div>
                        <h2>Yêu những điều không hoàn hảo</h2>
                        <h3>Hae Min</h3>
                    </div>
                </a>
                <a href="#">
                    <div class="book-items">
                        <div class="book-image">
                            <img src="{% static 'assets/images/yeu_nhung_dieu_khong_hoan_hao_1_2018_09_12_11_14_40 (1).webp' %}" alr="sach">
                        </div>
                        <h2>Yêu những điều không hoàn hảo</h2>
                        <h3>Hae Min</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>

</body>
</html>