{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'assets/css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/styles_forgot_password.css' %}" />
</head>
<body>
    <div class="container">
        <div class="box">
            <form action="#" method="post">
                <h1 class="title">Quên mật khẩu</h1>
                <h3>Vui lòng nhập email để tiếp tục</h3>
                <input type="email" id="email" placeholder="Email của bạn">
                <input type="submit" value="Tiếp tục" class="continue">
            </form>
        </div>
    </div>
</body>
</html>