{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Đăng Nhập </title>
    <link rel="stylesheet" href="{% static 'assets/css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/styles_login.css' %}" />
</head>
<body>
        
    <div class="container">
        <div class="box">
            <form action="#" method="post">
                <h1 class="title">Đăng nhập</h1>
                <input type="text" id="name-user" placeholder="Tên đăng nhập">
                <input type="password" id="password" placeholder="Mật khẩu">
                <a href="{% url 'forgot_password' %}" class="forgot-password">Quên mật khẩu?</a>
                <input type="submit" value="Đăng nhập" class="login-box">
                <div>
                    <h3>Bạn chưa đăng kí?</h3>
                    <a  href="{% url 'signup' %}" class="register">Đăng kí</a>
                </div>
            </form>
        </div>
    </div>
        
</body>
</html>
