{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Đăng Ký</title>
    <link rel="stylesheet" href="{% static 'assets/css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/styles_signup.css' %}" />
</head>
<body>
    <div class="container">
        <div class="box">
            <form action="#" method="post">
                <h1 class="title">Đăng kí</h1>
                <input type="text" id="name-user" placeholder="Tên đăng nhập">
                <input type="email" id="email" placeholder="Email">
                <input type="password" id="password" placeholder="Mật khẩu">
                <input type="submit" value="Xác nhận" class="confirm">
                <div>
                    <h3>Bạn chưa có tài khoản?</h3>
                    <a href="{% url 'login' %}" class="login">Đăng nhập ngay</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
