@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --color-one: #F9F2F5;
    --color-two: #FEFBFC;
    --color-three: #FAF3F6;
    --color-four: #E5CDD3;

    --font: "Inter", serif
}

body {
    font-family: var(--font);
    color: black;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 20px;
    font-weight: 600;
}

@media (max-width: 640px){
    h1 {
        font-size: 18px;
    }
}

h2 {
    font-size: 14px;
    font-weight: 5500;
}

h3 {
    font-size: 12px;
    font-weight: 400;
}

/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background: var(--color-one);
    padding: 10px;
    align-items: center;
    z-index: 1000;
    width: 100%;
    margin-top: 0px;
}

.search-container {
    display: flex;
    background: white;
    padding: 2px 10px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    align-items: center;
    margin-left: 200px;
}

.search-input {
    border: none;
    font-size: 12px;
    width: 300px;
    color: black;
}

.search-button {
    border: none;
    background: white;
}

.header-content ul {
    margin: 0;
    margin-left: 20px;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.header-content ul li a {
    font-size: 14px;
    color: black;
}

.header-content ul li {
    margin-left: 30px;
    margin-right: 10px;
    
}

.header-content ul li a:active {
    font-weight: 800;
}

.personal-account {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden; 
    z-index: 1000;
    margin-top: 8px;
    margin-right: 10px;
}

.personal-account .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width: 1028px) {
    .search-container {
        margin-left: 100px;
    }
    .search-input {
        width: 250px;
    }
    .header-content ul li {
        margin-left: 15px;
    }
}

@media (max-width: 830px) {
    .search-container {
        margin-left: 15px;
    }
    .search-input {
        width: 200px;
    }
    .header-content ul {
        margin-left: 0px;
    }
    .header-content ul li {
        margin-right: 0px;
    }
}

@media (max-width: 640px) {
    .search-container {
        margin-left: 20px;
        padding: 2px 5px;
    }
    .search-input {
        width: 90px;
    }
    .search-button i {
        font-size: 14px;
    }
    .header-content ul li a {
        font-size: 12px;
    }
    .header-content ul li {
        margin-left: 10px;
    }
}

@media (max-width: 480px){
    .search-container {
        width: 30%;
        margin-left: 5px;
        padding: 2px 5px;
    }
    .header-content ul li {
        margin-left: 5px;
    }
    .header-content {
        width: 50%;
    }
    .search-input {
        width: 70%;
    }
    .personal-account {
        width: 25px;
        height: 25px;
    }
}
/* end header */

.title-page {
    font-weight: 800;
}


.container {
    width: 100%;
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1200px){
    .container {
        width: 100%;
        max-width: 1050px;
    }
}

@media (max-width: 1028px){
    .container {
        width: 100%;
        max-width: 900px;
    }
}

@media (max-width: 830px){
    .container {
        width: 100%;
        max-width: 700px;
    }
}

@media (max-width: 640px){
    .container {
        width: 100%;
        max-width: 500px;
    }
}

@media (max-width: 480px){
    .container {
        width: 100%;
        max-width: 370px;
    }
}
@media (max-width: 320px) {
    .container {
        width: 100%;
        max-width: 260px;
    }
}
/* audiobook-item */

.audiobook-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.audiobook-item {
    width: calc(100%/4 - 30px);
    background: var(--color-three);
    border-radius: 10px;
}

.audiobook-item .main {
    display: flex;
    position: relative;
}

.audiobook-item .main .book-image {
    width: 70px;
    height: 90px;
    overflow: hidden;
    border-radius: 10px;
    margin-left: 8px;
    margin-top: 8px;
}

.audiobook-item .main .book-image .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.audiobook-item .main .book-information {
    width: 60%;
    margin-left: 10px;
}

.audiobook-item .main .book-information .book-title {
    margin-top: 8px;
    margin-bottom: 0px;
}

.audiobook-item .main .book-information .author {
    margin-top: 3px;
}

.audiobook-item .main i {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 10px;
}

.audiobook-item .sidebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 3px;
}

.audiobook-item .sidebar .book-time .time {
    font-size: 12px;
    margin-left: 5px;
}

.audiobook-item .sidebar .book-time i {
    font-size: 15px;
}

.audiobook-item .sidebar .icon {
    font-size: 22px;
}

@media (max-width: 1200px){
    .audiobook-item .main .book-image {
        width: 60px;
        height: 78px;
    }
}

@media (max-width: 1028px){
    .audiobook-item .main .book-image {
        width: 55px;
        height: 70px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .audiobook-item .main .book-information {
        width: 50%;
        margin-left: 5px;
    }
    .audiobook-item .sidebar .book-time .time {
        font-size: 11px;
    }
    .audiobook-item .sidebar .book-time i {
        font-size: 12px;
    }
    .audiobook-item .sidebar .icon {
        font-size: 18px;
    }
}

@media (max-width: 830px){
    .audiobook-item {
        width: calc(100%/4 - 15px);
    }
    .audiobook-item .main .book-image {
        width: 45px;
        height: 60px;
    }
    .audiobook-item .main .book-information {
        margin-left: 3px;
    }
}

@media (max-width: 640px) {
    .audiobook-item {
        width: calc(100%/2 - 30px);
        margin-bottom: 20px;
    }
    .audiobook-list {
        flex-wrap: wrap;
        margin-bottom: 0px;
    }
}

@media (max-width: 480px) {
    .audiobook-item {
        width: calc(100%/2 - 10px);
    }
}

@media (max-width: 320px) {
    .audiobook-item .main {
        flex-wrap: wrap;
    }
    .audiobook-item .main .book-image {
        width: 70%;
        height: 120px;
        margin-left: auto;
        margin-right: auto; 
    }
    .audiobook-item .main i {
        display: none;
    }
    .audiobook-item .main .book-information {
        width: 100%;
    }
    .audiobook-item .sidebar .icon {
        display: none;
    }
    .audiobook-item .main .book-information .author {
        margin-bottom: 0px;
    }
}
/*end audiobook-item */